body {background-color: red;
    font-style: italic;
    font-family:'Courier New', Courier, monospace
}

.list { 
      background-color:aliceblue
}
.List ul {
background-color:antiquewhite;
}

.coolText {
    color:rgb(39, 26, 26);
    font-size: 30px;

}

#mainHeader {
    color: rgb(7, 10, 6);
    font-size: 40px;
    text-align: center;

}
img {
    border: 4px solid rgba(238, 255, 0, 0.855);
    padding: 10px;
    margin: 30px;
}
.navWrapper {
    border: solid rgb(13, 17, 12) 3px;
}
nav {
    border: solid 3px red;
    width: 40%;
}
.link {
    border: solid rgb(230, 209, 15) 3px;
    width: 100px;
    text-align: center;
}

* {
    box-sizing: border-box;
}
  
  .box {
    color: white;
    font-size: 100px;
    font-family: sans-serif;
    text-align: center;
    padding: 15px;
  }
  
  .box1 { background: #ff1a05; }
  .box2 { background: #ff1a05; }
  .container {
    display: flex;
    min-height: 15vh;
    flex-direction: row;
  }